.image1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#search1{
  padding-left:680px;
}

.btn1{
  padding-left: 425px;
}

#btn2{
  height: 90px;
  width: 200px;
  font-size: 20px;
}
