.image1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#search1{
  padding-left:680px;
}

.btn1{
  padding-left: 425px;
}

#btn2{
  height: 90px;
  width: 200px;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.contrast{
  background-color: black;
}

h2{
  color: white;
  text-align: center;
  font-size: 3em;
}
