.image1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#search1{
  padding-left:680px;
}

#nxtpg{
  padding-left: 420px;
}

.btn
{
  height: 90px;
  width: 200px;
  font-size: 20px;
}
